#background { 
    background:url("desert.png");
    width: 600px;
    height: 400px;
    margin: 40px auto;
    overflow: hidden;


}

#character {
    background:url("ninja.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 30px;
    position: relative;
    top: 352px;
    left: 40px;

}

.animate{
    animation: up 500ms;
}
#snake {
    background: url("snake.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 30px;
    position: relative;
    top: 285px;
    left: 400px;
    animation: attack 1.2s infinite linear;
    

}

#scorpion {
    background: url("scorpion.png");
    background-size:contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 30px;
    position: relative;
    top:223px;
    left: 550px;
    animation: zip 1.5s infinite linear;
    animation-delay: 0.2s;

}

@keyframes attack {
    0% {
        left: 600px;
    }
    100% {
        left: -40px;
    }
}

@keyframes zip {
    0% {
        left: 600px;
    }
    20% {
        left: 600px;
    }
    100%{
        left:-40px;
    }
}

@keyframes up{
    0%{top: 350px;}
    45%{top: 250px;}
    65%{top: 250px;}
    85%{top: 300px;}
    100%{top: 350px;} 

}
